<div id="root-container">
  <%= image_tag 'craftmanship_pacific67.gif', :alt => "Animated image of chopping vegetables", :class => "root-image" %>
  <div class="right-align">
    <h2 class="root">Be Greedy! Consume <strong>Every</strong>thing.</h2>
    <h3 class="root">See what recipes use the same ingredients<br/>
    &amp; use them again in another meal while fresh!</h3><br><br>
    <a href="/users/sign_up" class="btn btn-default signup">Get Started</a>
  </div>
</div>
