<div id="root-container">
  <%= image_tag 'craftmanship_pacific67.gif', :alt => "Animated image of chopping vegetables", :class => "root-image" %>
  <div class="centered">
    <h1 class="root">No Food Left Behind</h1>
    <h2 class="root">Prepare Your Meal Tonight</h2>
    <h2 class="root">Reuse Leftover Primary Ingredient on Your Next Meal</h2><br><br>
    <a href="/users/sign_up" class="btn btn-default">Get Started</a>
  </div>
</div>
