@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding: 50px;
  background-image: url("wood-texture-dark-1599x1200.jpg");
  background-color: #1a1a1a;
  opacity: 0.9;
  font-family: 'Raleway', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}

.column {
  float: left;
  width: 33.33%;
  height: 150px;
}

.navbar-default {
  background-color: #0c0b05;
  opacity: 0.8;
  font-family: 'Fjalla One', sans-serif;
  color: #ffebcc;
  border: none;
  padding: 15px 70px;
}

.navbar-nav > a, .nav.space > a, .navbar-brand > a {
  color: #ff9900;
}

.navbar-brand {
  transform: translateX(-50%);
  font-size: 60px;
  font-family: 'Lily Script One', cursive;
  left: 50%;
  position: absolute;
}

.nav.space{
  display: inline-block;
  padding: 0px 10px;
}

.nav a:hover {
  font-weight: bold;
}

#recipes-container {
  display: block;
  margin: 0 auto;
  border: 3px solid #0c0b05;
  border-radius: 10px;
  padding: 10px;
  background-color: #0c0b05;
  opacity: 0.9;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.root-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  object-fit: contain;
  opacity: 0.75;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.centered > a {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-default {
  color: #fff;
  background-color: #ff9900;
  font-size: 20px;
  height:40px;
  width:200px
}
