@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}

.column {
  float: left;
  width: 33.33%;
  height: 150px;
}

.nav {
  padding: 15px 10px;
}

.nav.space{
  display: inline-block;
  padding: 0px 10px;
}

.nav a:hover {
  font-weight: bold;
}

#recipes-container {
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
