@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding: 50px;
  font-family: 'Raleway', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
  color: #262730;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #262730;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}

a {
  color: #0c0b05;
  font-weight: bold;
  text-decoration: underline;
}

.page.current {
  color: #ff9900;
}

a:hover {
  color: #ff9900;
}

.column {
  float: left;
  width: 33.33%;
  height: 150px;
  color: #0c0b05;
}

.navbar {
  height: 75px;
  line-height: 75px;
  background-color: #262730;
  font-family: 'Poppins', sans-serif;
  color: #ffebcc;
  border: none;
  padding: 15px 70px;
  vertical-align: middle;
  border-bottom: 3px solid #99621E;
}

.navbar-nav > a, .navbar-brand > a {
  color: #ff9900;
  text-decoration: none;
}

.navbar-nav > a {
  padding-right: 45px;
}

.nav a:hover {
  text-decoration: underline;
}

.navbar-brand {
  transform: translateX(-50%);
  font-size: 60px;
  font-family: 'Poor Story', cursive;
  left: 50%;
  position: absolute;
}

.nav.space{
  display: inline-block;
  padding: 0px 10px;
}

#recipes-container {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  opacity: 0.9;
  color: #0c0b05;
  min-height: 500px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.root-image {
  float: left;
  width: 50%;
  object-fit: contain;
  opacity: 0.75;
}

.right-align{
  float: right;
  width: 50%;
}

.signup {
  width: 100%;
  margin-left: 35%;
}

.centered > a {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-default {
  color: #fff;
  background-color: #ff9900;
  text-decoration: none;
  font-size: 20px;
  height: 40px;
  width: 30%;
}

.btn-submit, .next-recipe {
  color: #0c0b05;
  background-color: #ff9900;
  font-size: 1.5rem;
  height: 25px;
  width: 180px;
}
