<h1>Categories</h1>

<ul>
<% @categories.each do |category| %>
  <li><%= link_to category.name, category_path(category) %></li>
<% end %>
</ul>

<% if current_user.try(:admin?) %>
  <%= link_to "Create a New Category", new_category_path %>
<% end %>
